
/* .text{
  margin: auto;
  width: 800px;
  line-height: 1.5;
} */


/* h1, h2, h3, h4, h5, h6{
  line-height: 1.5;
  margin-top:20px;
  margin-bottom:10px;
} */



.formula{
  align: center;
}
.MathJax p {line-height: inherit}

a {
   text-decoration: none;
   font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.theorem::before {
  content:attr(author) ": ";
  font-style: normal;
  font-weight: bold;
}
.theorem{
  font-style: italic;
}

body, html {
  margin: auto;
  width: 800px;
  line-height: 1.5;
}
h1{
  line-height: 1.5;
  margin-top:80px;
  margin-bottom:10px;
}

h2{
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 5px;
}

/* p {
   text-indent: 10px;
} */



/* .plot {
  margin: auto;
  width: 800px;
} */
