.plot {
  margin: auto;
  width: 800px;
}
.text{
  margin: auto;
  width: 800px;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.5;
  margin-top:20px;
  margin-bottom:10px;
}
p{
  margin: auto;
  width: 800px;
  line-height: 1.5;
}

.formula{
  align: center;
}
.MathJax p {line-height: inherit}
/* p {
   text-indent: 20px;
} */
a {
   text-decoration: none;
}
